{% extends 'layouts/table-layout.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block table_name %}
    <h1>ESTADOS</h1>
{% endblock %}

{% block table_filter %}
    <div>
        <select name="" id="">
            {% for column in columns %}
                <option value={{ column }}>{{ column }}</option>
            {% endfor %}
        </select>
        <input placeholder="Digite o valor do filtro">
        <button>FILTRAR</button>
    </div>
{% endblock %}

{% block content %}
    <tr>
        {% for column in columns %}
            <th>{{ column }}</th>
        {% endfor %}
    </tr>

    {% for state in data %}
        <tr>
            <td>{{ state.api_id }}</td>
            <td>{{ state.acronym }}</td>
            <td>{{ state.name }}</td>
        </tr>
    {% endfor %}
{% endblock %}