<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block header %}
    {% endblock %}
    <title>
        {% block title %}
            Urban Scope
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href={% url 'states:list' %}>Estados</a>
        <a href={% url 'municipalities:list' %}>Municípios</a>
        <a href={% url 'districts:list' %}>Distritos</a>
        <a href={% url 'companies:list' %}>Empresas</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button class="logout-button">LOGOUT</button>
        </form>
    </nav>

    {% block table_name %}
    {% endblock %}

    {% block table_filter %}
    {% endblock %}

    <table>
        {% block content %}
        {% endblock %}
    </table>
</body>
</html>