{% extends 'layouts/table-layout.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block table_name %}
    <h1>MUNICÍPIOS</h1>
{% endblock %}

{% block table_filter %}
    <div class="options">
        <form class="filter" method="post">
            {% csrf_token %}
            <select name="filter-column">
                {% for column in columns %}
                    <option value={{ column }}>{{ column }}</option>
                {% endfor %}
            </select>
            <input name="filter-value" placeholder="Digite o valor do filtro">
            <button type="submit">FILTRAR</button>
        </form>

        <div class="pagination">
            {% if current_page > 2 %}
                <div>
                    <a href="{% url 'municipalities:list' current_page|add:'-1' %}"><</a>
                </div>
            {% elif current_page > 1 %}
                <div>
                    <a href="{% url 'municipalities:list' 1 %}"><<</a>
                </div>
            {% else %}
                <div class="disabled-button">
                    <a><<</a>
                </div>
            {% endif %}
    
            <div>
                <a>{{ current_page }}</a>
            </div>
            
            {% if current_page < last_page|add:'-1' %}
                <div>
                    <a href="{% url 'municipalities:list' current_page|add:'1' %}">></a>
                </div>
            {% elif current_page < last_page %}
                <div>
                    <a href="{% url 'municipalities:list' last_page %}">>></a>
                </div>
            {% else %}
                <div class="disabled-button">
                    <a href="{% url 'municipalities:list' current_page|add:'1' %}">>></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <tr>
        {% for column in columns %}
            <th>{{ column }}</th>
        {% endfor %}
    </tr>

    {% for state in paginator.object_list %}
        <tr>
            <td>{{ state.api_id }}</td>
            <td>{{ state.name }}</td>
            <td>{{ state.state.name }}</td>
        </tr>
    {% endfor %}
{% endblock %}