:root {
    --color-charcoal: #273f4f;
    --color-isabelline: #efeeea;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-charcoal);
    width: 100vw;
    height: 100vh;
}