{% extends 'layouts/form-layout.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h1>Urban Scope</h1>
        <p>Faça login para acessar o sistema</p>
        
        <form class="my-form" action="{% url 'home' %}" method="post">
            {% csrf_token %}

            <label for="{{form.username.id_for_label}}">Usuário:</label>
            {{ form.username }}
            <label for="{{form.password.id_for_label}}">Senha:</label>
            {{ form.password }}

            <a href="{% url 'register' %}">Ainda não possui conta?</a>
            <button type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}