<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Urban Scope</title>
</head>
<body>
    <div>
        <h1>Urban Scope</h1>
        <p>Se cadastre para acessar o sistema</p>
        <form class="my-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <label for="{{form.username.id_for_label}}">Usuário:</label>
            {{ form.username }}
            <label for="{{form.password1.id_for_label}}">Senha:</label>
            {{ form.password1 }}
            <label for="{{form.password.id2_for_label}}">Confirme sua senha:</label>
            {{ form.password2 }}
            
            <a href="{% url 'home' %}">Fazer login?</a>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>