{% extends 'layouts/form-layout.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h1>Urban Scope</h1>
        <p>Se cadastre para acessar o sistema</p>

        <form class="my-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
    
            <label for="{{form.username.id_for_label}}">Usuário:</label>
            {{ form.username }}
            <label for="{{form.password1.id_for_label}}">Senha:</label>
            {{ form.password1 }}
            <label for="{{form.password.id2_for_label}}">Confirme sua senha:</label>
            {{ form.password2 }}
            
            <a href="{% url 'home' %}">Fazer login?</a>
            <button type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}